.container-detalhes{
    width: 90vw;
}
.container-detalhes-header{
    width: 100%;
    text-align: center;
}

.container-detalhes-body{
    display: flex;
}

.container-detalhes-left, .container-detalhes-center, .container-detalhes-right{
    width: 33%;
    padding: 0 10px 0 10px;
}
.container-detalhes-left, .container-detalhes-center{
    border-right: 1px solid var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.alert-1{
    color: rgb(255, 30, 0);
}
.relatorio{
    font-size: 12px;
}
.container-detalhes-right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.container-table-detalhes{
    max-height: 300px;
    overflow: auto;
}
.container-table-detalhes::-webkit-scrollbar{
    width: 15px;    
}
.container-table-detalhes::-webkit-scrollbar-track{
    background: var(--dark);
    border-radius: 6px;
}
.container-table-detalhes::-webkit-scrollbar-thumb{
    background: var(--color);
    border-radius: 5px;
}
.table-detalhes{
    width: 100%;
}
.celulas-detalhes{
    width: 33%;
    margin: 0 auto;
}
.celulas-detalhes-response{
    font-size: 12px;
}
.no-info{
    color: rgb(161, 161, 161);
}

@media only screen and (max-width: 770px){
    .container-detalhes-body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-detalhes-left, .container-detalhes-center, .container-detalhes-right{
        width: 100%;
        border: none;
    }
    .container-detalhes-center{
        margin-top: 30px;
    }
    .container-detalhes-right{
        margin-top: 25px;
    }
}

@media print {
    .container-detalhes-left, .container-detalhes-center, .btn-outline-danger {
        display: none;
    }
    .container-table-detalhes{
        display: block;
        width: 500px;
        height: 1000px;
    }

}

.modal{
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(13, 13, 13, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(13, 13, 13, 0.3);
    justify-content: center;
    align-items: center;
}
.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}
.container-btn-modal{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}