h3{
    color: var(--dark);
}
.response-contrato{
    padding: 20px;
    width: 100%;
    min-height: 200px;
    margin-top: 20px;
    background: rgb(225, 225, 174);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.response-contrato-title{
    font-weight: bold;
}
@media only screen and (max-width: 770px){
    .input-contrato{
        width: 90vw;
    }  
}
.header-response-contrato{
    display: flex;
    align-items: center;
}
.response-contrato-text{
    font-size: 12px;
    line-height: 1px;
    margin-left: 80px;
}
@media only screen and (max-width: 770px){
    .container-form{
        width: 90vw;
    }
    .header-response-contrato{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-contrato-text{
        width: 100%;    
    }
    .response-contrato-text{
        margin-left: 20px;
    }
    .response-text-contrato{
        font-size: 12px;
    }
}
