.title{
    font-family: "BenchNine";
}
.container-header{
    display: flex;
    flex-direction: column;
}
.lineUp-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background: var(--dark);
}
.lineDown-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background: var(--color);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 35px; 
}
.logo-header{
    color: var(--color);
    font-family: "Kufam";
    font-size: 2rem;
}
.title-header{
    color: var(--color);
    font-family: "Kufam";
    font-size: 2rem;
}
.moreinfo-header{
    color: var(--color);
    font-family: "Kufam";
    font-size: 2rem;
}
.Logo{
    width: 12vh;
}

@media only screen and (max-width: 770px){
    .Logo{
        display: none;
    }   
}