.container-cotacao{
    width: 60vw;
    height: 35vh;
    display: flex;
    justify-content: space-between;
    color: var(--dark);
}
.container-input{
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: space-evenly;
}
.select-currency, .date-price{
    display: block;
}
.date-price:focus, .select-currency:focus{
    border-color: var(--color);
    box-shadow: 0 0 0 0.25rem rgb(var(--color) / 25%);
}
.container-response{
    height: 40px;
    display: flex;
    justify-content: center;
    width: 40vw;
   
}
.icon-response{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background: var(--dark);
    border-radius: 7px 0 0 7px / 7px 0 0 7px ;
    color: var(--light);
    font-weight: bold;
}
.response{
    padding-left: 20px;
    display: flex;
    align-items: center;
    width: 90%;
    border-radius: 0 7px 7px 0 / 0 7px 7px 0 ;
    border: 1px solid var(--dark);
    color: var(--dark);
    font-weight: bold;    
}

.legend-response{
    background: var(--dark);
    color: var(--light);
    padding: 8px;
    border: 1px solid var(--dark);
    font-size: .8rem;
    width: 100px;
}

.price-response{
    border: 1px solid var(--dark);
    width: 250px;
    height: 30px;
    padding-left: 20px;
}
.btn{
    margin-top: 10px;
}
@media only screen and (max-width: 770px) {
    .container-cotacao{
        width: 70vw;
        display: flex;
        flex-direction: column;
    }
    .container-input{
        display: flex;
        flex-direction: column;
        width: 70vw;
        justify-content: space-evenly;
    }
    .container-response{
        height: 40px;
        display: flex;
        justify-content: center;
        width: 70vw;
       
    }
}
@media only screen and (min-width: 770px) and (max-width: 1200px) {
    .container-cotacao{
        width: 85vw;
    }
}
@media only screen and (min-width: 1200px) {
    .container-cotacao{
        width: 80vw;
    }
}